<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJr+MqXjQqjNuOh8rH7Lz6D2rH8d5Sv0RQw3yRHp/nlmxh6kNlzWV88Tt1Ex" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4 text-primary font-weight-bold">Registered Volunteers</h1>
        <div class="row">
            {% for volunteer in volunteers %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card shadow-lg rounded border-0 volunteer-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ volunteer.name }}</h5>
                            <p><strong>Phone:</strong> {{ volunteer.phone_number }}</p>
                            <p><strong>Email:</strong> {{ volunteer.email }}</p>
                            <p><strong>Skills:</strong> {{ volunteer.skills }}</p>
                            <p><strong>Available For:</strong> {{ volunteer.available_for }}</p>
                            <p><strong>Registered At:</strong> {{ volunteer.registered_at }}</p>
                
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gyb28UoIw5R0mmLGMpZzGnN75JlnDL61HvbHce0y4z6bftI5Bvw" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0g0Y4hP9rT61C9prG6jefzVY2lMK5FSt6FzEZm7vRZbd2a8QS" crossorigin="anonymous"></script>
</body>
</html>
